@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: darkgrey;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
footer {
    background-color: darkgray;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
footer > section > article > nav {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    margin: 10px;
}
footer > section > article > nav > a {
    text-decoration: none;
    color: black;
}
footer > section > article > nav > a:hover {
    text-decoration: underline;
    color: darkblue;
}
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
section.corpo1 {
    background-color: darkgray;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}
article.texto {
    text-align: center;
    padding: 0px 5px 0px 5px;
}
article.texto > p {
    text-align: left;
}
article.imagem {
    text-align: center;
    padding: 0px 5px 3px 5px;
}
article.imagem > figure > img {
    width: 300px;
    height: 300px;
}